@import url('https://fonts.googleapis.com/css?family=Montserrat');
:root{
    --primary-color: #3A64E2;
    --text-color: #fff;
}


*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
}

body{
    font-family: 'Montserrat',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* This is will not work without height. */
    height: 100vh;
    overflow: hidden; 
    margin: 0;
    color: var(--text-color);
}

.container{
    position: relative;
    width: 700px;
    height: auto;
    background-color: var(--primary-color);
    border-radius: 1.5rem;
}

.progress__bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    font-size: 2rem;
}
.progress{
    background-color: #fff;
    height: 3px;
    border-radius:10px;
    width: 85%;
    margin-bottom: 1rem;
    animation: grow 10s linear infinite;
    transform-origin: left;
}

.paragraph{
    position: relative;
    top: -40px;
    padding: 0 5rem;
    text-align: center;
    line-break:anywhere;
}


.user{
   
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user__img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user__details{
    margin-left: 1.25rem;
}


@keyframes grow{
    0%{
        transform: scaleX(0);
    }

}